# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.acme-coding-challenge.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .idea
vcs.xml
sqldialects.xml
indexLayout.xml
